pipeline/PDFCDH.json
{
	"name": "PDFCDH",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "PDFCDHfolder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Stored procedure4",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(startswith(item().name,'FidelisCare_Prod_DentalHeader_FULL_RENDRCARE'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "PDFCDentalHeader",
										"type": "ExecuteDataFlow",
										"dependsOn": [
											{
												"activity": "Stored procedure2",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "1.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataflow": {
												"referenceName": "PDFCDentalHeader",
												"type": "DataFlowReference",
												"parameters": {
													"FileName": {
														"value": "'@{variables('FN2')}'",
														"type": "Expression"
													}
												},
												"datasetParameters": {
													"PDFCDentalHeader": {
														"FileName": {
															"value": "@variables('FN2')",
															"type": "Expression"
														}
													}
												}
											},
											"staging": {
												"linkedService": {
													"referenceName": "cpsynapsews-WorkspaceDefaultStorage",
													"type": "LinkedServiceReference"
												},
												"folderPath": "cpdlfilesystem/synapse"
											},
											"compute": {
												"coreCount": 8,
												"computeType": "General"
											},
											"traceLevel": "Fine"
										}
									},
									{
										"name": "Set variable3",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "FN2",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Stored procedure2",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Set variable3",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[insertLog]",
											"storedProcedureParameters": {
												"msg": {
													"value": {
														"value": "@concat('var3: ',variables('FN2'))",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "cpsynapsews-WorkspaceDefaultSqlServer",
											"type": "LinkedServiceReference",
											"parameters": {
												"DBName": "cpsqlpool"
											}
										}
									}
								]
							}
						},
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "FileName",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Stored procedure4",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Set variable2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[insertLog]",
								"storedProcedureParameters": {
									"msg": {
										"value": {
											"value": "@concat('Var2: ',variables('FileName'))",
											"type": "Expression"
										}
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "cpsynapsews-WorkspaceDefaultSqlServer",
								"type": "LinkedServiceReference",
								"parameters": {
									"DBName": "cpsqlpool"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"FileName": {
				"type": "String"
			},
			"FN2": {
				"type": "String"
			}
		},
		"folder": {
			"name": "James"
		},
		"annotations": [],
		"lastPublishTime": "2022-07-21T20:08:31Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}